<section class="section newsletter" id="ft" style="background-color: white;">
    <div class="newsletter__container container"style="background-color: white;box-shadow: 2.5px 5px #dcd8d8;width:400px;" >
        <h2 class="section__title">Pre-Register Now</h2>
        <!-- <p class="newsletter__description">
            Promotion new products and sales. Directly to your inbox
        </p> -->

        <form action="" class="newsletter__form">
            <input style="border:2.5px 5px #dcd8d8;width:200px" type="text" placeholder="Enter your email" class="newsletter__input" id="name">
            <br><br>
            <button class="button" id="button" style="margin-top: 300px;">
                Notify me
            </button>

            <script src="https://smtpjs.com/v3/smtp.js">
            </script>
        <script >
                var btn =document.getElementById('button');
                btn.addEventListener('click', function(e){
                    e.preventDefault()
                    var name = document.getElementById('name').value;
                    var body = 'name: '+name;
                    console.log('hi');

                    Email.send({
                    Host : "smtp.gmail.com",
                    Username : "imkarthik39@gmail.com",
                    Password : "wwojufqoebzkddji",
                    To : 'imkarthik39@gmail.com',
                    From : name,
                    Subject : name,
                    Body : "Hello"
                }).then(
                  message => alert('Thank you 😀You have been successfully registered.')
                );
                })
    </script>



        </form>

       
    </div>
</section>