<div class="container1">
    <div class="mt-5">
      <div class="col-md-12 min-vh-100 d-flex flex-column">
          <div class="row">
              <div class="col-lg-6 col-md-8 mx-auto">
                  <div class="login-form" >
                      <form class="mt-5" >
                          <h2 class="text-center secondary ms-mb-m main-heading ng-binding" style="font-size: 30px;">Login with Acecraft</h2>
                          <div class="mt-5">
                              <div >
                                  <input type="email" class="form-control ng-untouched ng-invalid" name="email" id="email"
                                      formControlName="email" placeholder="email" required #email>
                                  
                              </div>
                             
                              <button  class="btn btn-dark" style="width: 100%;" id="btn">Send</button>
                          
                          </div>
                          <script src="https://smtpjs.com/v3/smtp.js">
                        </script>
                          <script>
                            var btn=document.getElementById('btn');
                            btn.addEventListener('click', function(e){
                                e.preventDefault()
                                console.log('hi');
                            })
                          </script>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </div>
 