<div >
   
    
    <div class="section1" >
        <h1 >Acecraft was founded in Bengaluru, India, in the summer of 2016.</h1><br><br>
    </div>
    <div class="container1" style="background-color:rgb(225, 222, 222); "  >
        <br><br><br><br><br><br>
        <h1 style="font-size: 40px; margin-left: 680px; "><b>Brand Story.</b></h1>
        <br>
        <p style="font-size: 15px; margin-left: 540px;"></p>
        <p style="font-size: 15px; margin-left: 540px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Being the best, for the best. <br>Ever since our inception in 2016, we have always strived to change one<br> aspect - the stagnant nature of organizational clothing. What was initially<br> started as a student startup, has now evolved to become one of India's,<br> fastest-growing clothing companies. At acecraft, we believe in creating <br>products that not only look premium but feel that way as well. Each <br>garment reflects what we stand for as a brand, as well as the organization <br>it is perfectly handcrafted for. Fueled by high-quality fabrics, backed by<br> unique product design and complemented by exquisite craftsmanship,<br> every product we create is an experience in itself.<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the reinvented.<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to acecraft.</p>
    <br><br><br><br><br><br>
        <h1 style="font-size: 40px; margin-left: 650px; margin-top: -50px;"><b>What We Believe</b></h1>
        <br><br><br><br><br>
        <img  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-2.jpg" alt="Snow" style="width:40%;margin-left:820px; margin-bottom: -400px;">
        <p style="font-size: 15px; margin-left: 300px;">&nbsp;&nbsp;To reinvent uniforms and emphasize on dressing<br> done the smart way, focusing on product design, fit,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; feel and finish.<br><br>    
            &nbsp;We celebrate the principles of a truly custom-made<br> uniform, and embrace the technology that allows us <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to make it available to everyone, everywhere.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div class="container1" style="background-color:#000; "  >
           
        <br><br><br><br><br><br>
        <h1 style="font-size: 40px; margin-left: 650px; margin-top: -50px;color: rgb(174, 171, 168);"><b>What we make</b></h1>
        <br><br><br><br><br><br>
            <img  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-31.jpg" alt="Snow" style="width:38%;margin-left:170px; margin-bottom: -70px;">
            <h1 style="font-size: 20px; margin-left: 850px; margin-top: -250px; color: rgb(174, 171, 168);">Designer uniforms, custom-fitted for every customer.</h1>
            <br><br><br><br><br><br><br><br>
            <img  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-41.jpg" alt="Snow" style="width:38%;margin-left:790px; margin-top: 250px;">
            <h1 style="font-size: 20px; margin-left: 250px; margin-top: -350px;color: rgb(174, 171, 168);">&nbsp;&nbsp;We deeply believe in using only the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;highest quality materials, with a <br>superior look and feel, and a durability <br>&nbsp;&nbsp;&nbsp;that will dramatically increase the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lifespan of the product.</h1>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <img  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-51.jpg" alt="Snow" style="width:99.5%;margin-left:1px; margin-top: 70px;">
            <h1 style="font-size: 20px; margin-left: 850px; margin-top: -400px; color: rgb(174, 171, 168);">Designer uniforms, custom-fitted for every customer.</h1>

            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>

            <img  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/About-us-61.jpg" alt="Snow" style="width:99.5%;margin-left:0px; margin-top: 70px;">
            <h1 style="font-size: 20px; margin-left: 300px; margin-top: -400px; color: rgb(174, 171, 168);">All our production is done in India.</h1>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
        </div>
        
      

   
  </div>
  
  <div class="team row" style="width: 90%;">
    <h1 class="text-center proximaBold textalign" style="margin-left:690px;">Our Team</h1>
    <br>
    <div class="container first-row" style="margin-top:20px;margin-left:205px;">
    <div class="boxed">
    <h1 class="proximaThin">Aman Jain</h1>
    <p>CEO &amp; Founder</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Varun Meghani</h1>
    <p>CMO &amp; Co- Founder</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Santhosh S</h1>
    <p>Customer Relations Executive</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Prajwal Ravi</h1>
    <p>Customer Relations Executive</p>
    </div>
    <div class="boxed" >
    <h1 class="proximaThin">Divakar R</h1>
    <p>Production Merchandiser</p>
    </div>
    </div>
    <div class="container second-row" style="margin-left:205px;">
    <div class="boxed">
    <h1 class="proximaThin">Mansoor Ahmed</h1>
    <p>Junior Production Merchandiser</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Prerana Jain</h1>
    <p>Administrator</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Harsha</h1>
    <p>Back End Support Staff</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Shashi Kumar</h1>
    <p>Back End Support Staff</p>
    </div>
    <div class="boxed">
    <h1 class="proximaThin">Muthappa</h1>
    <p>Back End Support Staff</p>
    </div>
    </div>
    
    <div class="text-center" style="margin-top:20px;margin-right:400px;">
    <h1 class="footer-head greytext">Want To Join The Team?</h1>
    <p class="footer-p greytext">Send your Resume to job@acecraft.in</p>
    </div>
    </div>

