<footer class="text-center">
  <a href="#" class="fa fa-facebook" href="https://www.facebook.com/people/Acecraft/100054617762042/"></a>
  <a href="#" class="fa fa-instagram" href="https://www.instagram.com/acecraft.in/"></a>
  <a href="#" class="fa fa-linkedin" href="https://www.linkedin.com/in/acecraft-clothing-4b451445/"></a>
</footer>
<footer class="" style="color: white; height: 50px;">
  <div class="container" style="padding-top:2px;">
    <div class="row">
      <div class="col-sm ml-4">
        <span routerLink='about' type="button" class="footer_color">
          ABOUT
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span routerLink='care' type="button" class="footer_color">
          CARE
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span routerLink='returns' type="button" class="footer_color">
          RETURNS
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span routerLink='production' type="button" class="footer_color">
          PRODUCTION
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span routerLink='terms' type="button" class="footer_color">
          TERMS
        </span>
      </div>
      <span class="line"></span>
      <div class="col-sm ml-4">
        <span type="button" class="footer_color" routerLink='contact'>
          GET-HELP
        </span>
      </div>

      <!-- <div class="col-sm">
        <button routerLink='care' mat-button class="menu-button fbutton">
          CARE
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='returns' mat-button class="menu-button fbutton">
          RETURNS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='production' mat-button class="menu-button fbutton">
          PRODUCTION
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='terms' mat-button class="menu-button fbutton">
          TERMS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='getHelp' mat-button class="menu-button fbutton">
          GET HELP
        </button>
      </div> -->
    </div>
  </div>
</footer>

<!-- <router-outlet></router-outlet> -->