<div class="wh">
    <div class="container">
      <div class="row">
  
          <div class="yellow">
            <div class="col col-md-4">
            <i class="fas fa-exclamation-triangle"></i></div>
            <div class="col col-md-8" >
            <div class="first">
              <h4 class="c" style="font-size: 20px;">CAUTION</h4>
              <p class="pt">Your acecraft garment is special. It needs the right care to last longer and age well.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row box">
        <div class="col col-md-6 careimg">
          <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP2.jpg" class="img-responsive">
        </div>
        <div class="col col-md-6">
          <h1 class="text-mute ms-m-0 proximaThin" style="font-size: 40px;">Wash less.</h1>
          <br>
          <h1 class="ms-m-0" style="font-size: 40px;">Wash delicately.</h1>
          <br>
          <p class="proximaThin">The truth is, the more you wash a cotton garment, the faster it wears out. Wash your
            acecraft garments delicately by hand or in the most gentle machine cycle. It does not need to be in water for
            more than 15 minutes. Always wash whites with whites and darks with darks.</p>
          <div class="iconBox col-xs-4 text-center text-dark">
            <h5 style="font-size: 15px;">DELICATE WASH</h5>
            <div class="care-icon icon1"><img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-1.png"style="width :140px;height:140px;" alt=""></div>
          </div>
          <div class="iconBox col-xs-4 text-center text-dark">
            <h5 style="font-size: 15px;">WASH INSIDE OUT</h5>
            <div class="care-icon icon2">
              <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-2.png" style="width :140px;height:140px;">
            </div>
          </div>
          <div class="iconBox col-xs-4 text-center text-dark">
            <h5 style="font-size: 15px;">NO TWISTING</h5>
            <div class="care-icon icon3">
              <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-3.png"style="width :140px;height:140px;">
            </div>
          </div>
        </div>
      </div>
  
      <div class="row box">
        <div class="col-md-6 careContent">
          <h1 style="font-size: 40px;">Easy on the detergents.</h1>
          <p class="proximaThin">Chemicals are what they are. While they clean a garment, they also take away the good stuff. Use minimal detergent and no bleach. Avoid putting detergent directly on the fabric that can leave spots. Dry cleaning is extreme, only your blazers will require it.</p>
          <div class="iconBox col-xs-4 text-center text-dark">
          <h5 style="font-size: 15px;">MILD DETERGENT</h5>
          <div class="care-icon icon4"></div>
          <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-4.png"style="width :140px;height:140px; margin-top:-20px;">
          </div>
          <div class="iconBox col-xs-4 text-center text-dark">
          <h5 style="font-size: 15px;">NO BLEACH</h5>
          <div class="care-icon icon5">
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-5.png"style="width :140px;height:140px;margin-top:10px; ">
          </div>
          </div>
          <div class="iconBox col-xs-4 text-center text-dark">
          <h5 style="font-size: 15px;">DRY CLEANING</h5>
          <div class="care-icon icon6">
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-6.png"style="width :140px;height:140px; ">
          </div>
          </div>
          </div>
        <div class="col col-md-6 careimg">
          <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP1.jpg" class="img-responsive">
        </div>
      </div>
      <div class="row box">
        <div class="col col-md-6 careimg">
          <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP3.jpg" class="img-responsive" >
        </div>
        <div class="col-md-6 careContent ms-pl-x">
          <h1 style="font-size: 40px;">Hand dry.</h1>
          <p class="proximaThin">Those spinning and drying machines are super harsh. Hang or flat dry your acecraft product. Avoid exposure to harsh sunlight as that can cause the colour to fade.</p>
          <div class="iconBox col-xs-4 text-center text-dark">
          <h5 style="font-size: 15px;">HANG DRY</h5>
          <div class="care-icon icon7">
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-7.png"style="width :140px;height:140px;">
          </div>
          </div>
          <div class="iconBox col-xs-4 text-center text-dark">
          <h5 style="font-size: 15px;">FLAT AIR DRY</h5>
          <div class="care-icon icon8">
            <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-8.png"style="width :140px;height:140px;">
          </div>
          </div>
          <div class="iconBox col-xs-4 text-center">
          <h5>NO TUMBLE DRY</h5>
          <div class="care-icon icon9"></div>
          </div>
          </div>
          <div class="row box">
            <div class="col-md-6 careContent">
              <h1 style="font-size: 40px;">Correct grooming.</h1>
              <p class="proximaThin">Place the iron on full heat while the garment is still damp. Iron carefully without stretching. Use a lint roller on your blazers so that they continue to look new.</p>
              <div class="iconBox col-xs-4 text-center text-dark">
              <h5 style="font-size: 15px;">STEAM IRON</h5>
              <div class="care-icon icon10">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-10.png"style="width :140px;height:140px;">
              </div>
              </div>
              <div class="iconBox col-xs-4 text-center text-dark">
              <h5 style="font-size: 15px;">USE LINT ROLLER</h5>
              <div class="care-icon icon11">
                <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/care-icon-11.png"style="width :140px;height:140px;">
              </div>
              </div>
              </div>
            <div class="col col-md-6 careimg">
              <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/AC_FLIP4.jpg" class="img-responsive">
            </div>
          </div>
          <div class="text-center bottominst ms-mt-x text-dark">
            Follow the guidelines, wash your product right and it will look great. If you still have any issues, let us know. We want you<br> to love wearing your uniforms.
            </div>
          
            <button style="margin-right: -5px;margin-top: 60px;" class="btn-default report ms-mt-x ms-mb-x" (click)="contact()" >REPORT AN ISSUE</button>

            <div class="row">
              <div  >
              </div>  
            </div>
            </div>
  
  
  </div>
  