<div class="col-sm-12" style="margin-top: 35px;">


    <div class="third_container mt-3" style="bottom: 1000px;">
        <div class="row third_text_container">
            <video width="100%" autoplay loop muted>
            <source autoplay loop muted src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 1.mp4" type="video/mp4">
            </video>
            <div class="z_index">
            <h1 class="textalign">This is how our uniforms are made.</h1>
            <div class="textalign_para">We curate every step of our production, from sourcing the raw materials to the construction of the finished uniform. We continuously refine and improve every detail of our construction process in order to offer the highest quality product possible.</div>
            </div>
            </div>
    </div>

<img  src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Acecraft-map.jpg" alt="Snow" style="width:90.5%;height: 700px;margin-left:150px; margin-top: 70px;">
            <h1 style="font-size: 40px; margin-left: 200px; margin-top: -450px; color: rgb(174, 171, 168);"><b>Proudly made in India.</b></h1>
            <div style="margin-right:700px ;color: rgb(174, 171, 168);" class="textalign_para"><p>All our uniforms are exclusively made in India under good<br> working standards, high skill levels and fair wages. We have<br> a closed and trusted relationship with all of our suppliers<br> and we work towards the common goal of heightening the<br> standards of modern clothing production.</p> </div>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>

            <div class="third_container mt-3" style="bottom: 1000px;">
                <div class="row third_text_container">
                    <video width="100%" autoplay loop muted playsinline>
                    <source  src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/banner_3.mp4" type="video/mp4">
                    </video>
                    <div class="z_index">
                    <h1 class="textalign">This is how our uniforms are made.</h1>
                    <div class="textalign_para">We curate every step of our production, from sourcing the raw materials to the construction of the finished uniform. We continuously refine and improve every detail of our construction process in order to offer the highest quality product possible.</div>
                    </div>
                    </div>
            </div>
            <br><br><br><br><br><br><br><br>
            
    <div class="row">
      <div class="col-lg-5 col-12">
          <div class="text_container">
              <div class="top_margin" style="width:500px;margin-left: 100px;color: rgb(174, 171, 168);">
                  <h1 style="color: rgb(174, 171, 168);" class="textalign">Constructing our uniforms.</h1>
                  <div style="color: rgb(174, 171, 168);" class="textalign_para"><p>This is where our uniforms start to take shape. Each garment is carefully sewn together using tried and tested<br> techniques.</p> In contrary to most mass-produced factories where each part of the garment is assembled by a different person, our uniforms are constructed by the same person from start to finish.<p></p></div>
              </div>
          </div>
      </div>
     
      <div class="col-lg-7 col-12">
        <div class="container">
          <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/acecraft1.jpg" alt="" class="imgcontainer">
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
      <div class="container mt-5" style="height:330px;">
          <div class="row">
          <div class="col-lg-6 col-12">
            
              <video width="100%" autoplay loop muted playsinline>
                  <source autoplay loop muted src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 1st half.mp4" type="video/mp4">
                  </video>
          </div>
          <div class="col-lg-6 col-12">
              <video width="100%"autoplay loop muted playsinline>
                  <source autoplay loop muted src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Banner 5 2nd half.mp4" type="video/mp4">
                  </video>
          </div>
        </div>
        </div>
        <div  style="height:200px;color: rgb(174, 171, 168);">
          <h1 style="color: rgb(174, 171, 168);" class="textalign">Branding.</h1>
          <div style="color: rgb(174, 171, 168);" class="textalign_para">Your identity is integral.<br>We make sure that our garments have the customized logo and branding as desired by you. We use three methods to represent what you believe in:</div>
          <div style="color: rgb(174, 171, 168);" class="textalign_para my-3">
              - Embroidery<br>
              - Screen Print <br>
              - Sublimation Print
              </div>
        </div>
        <br><br><br><br>
          <div class="second_container">
              <div class="row">
                  <div class="col-lg-6 col-12" >
                      <div class="second_text_container" style="width:600px ;margin-left: 160px;">
                              <h1 style="color: rgb(174, 171, 168);" class="textalign">Finishing quality check.</h1>
                              <div   style="color: rgb(174, 171, 168);" class="textalign_para">The garment is given a final check to ensure that the measurements are as specified by the customer. Each uniform is also checked for construction errors or other irregularities.</div>
                              <div style="color: rgb(174, 171, 168);" class="textalign_para mt-2">The garment is given a quick ironing and packaged carefully before being shipped.</div>
                      </div>
                  </div>
                  <div class="col-lg-1 col-12"></div>
                  <div class="col-lg-5 col-12" >
                    <div class="second_img_container">
                      <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/acecraft2.jpg" alt="" class="imgcontainer" style="width: 80%">
                    </div>
                  </div>
                </div>
          </div>
          <br><br><br><br><br><br><br><br>
          <div class="third_container mt-2">
              <div class="row third_text_container">
                  <video width="100%" autoplay loop muted playsinline>
                  <source autoplay loop muted src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Assembly Line.mp4" type="video/mp4">
                  </video>
                  <div class="z_index">
                  <h1 class="textalign">Shipped across the country.</h1>
                  <div class="textalign_para">Our uniforms are shipped nationwide using express shipping, and are delivered straight to the preferred address of the customer.</div>
                  </div>
                  </div>
          </div>
          
  </div>
