

<div class="section1">

  <div class="text-center h-0"><span class="image-bg-text"><b>Workwear that works.</b>  </span><br><br>
    <span style="margin-bottom: -80px;" class="fa fa-chevron-down " id="pot"></span>
    <!-- <br>
    <i class="fa-solid fa-chevron-down fa-bounce" style="  --fa-bounce-jump-scale-y: 0.9;--fa-bounce-rebound: 0; " ></i>
  </span>sadasd -->

  </div>
  </div>

<div class="gutter-0 bg-grey second-block">
  <div class="container text-center">
    <h1 style="font-size: 40px;">  <b>Work Relaxed.</b></h1>
    <pre class="p" style="font-size: 15px;">When we designed our uniforms, we wore them to work every day.
   We still do. They’re comfy, relaxed and designed to suit your workplace.</pre>
  </div>
  <div class="container image-card ">
    <div class="col-md-4 display-center">
      <div class="image-container size">
        <h5 style="font-size: 20px;">F(IT) MATTERS</h5>
        <h5 style="font-size: 30px;">A size for every one.</h5>
      </div>
    </div>
    <div class="col-md-4 display-center">
      <div class="image-container design">
        <h5 style="font-size: 20px;">PERSONALISED BRANDING</h5>
        <h5 style="font-size: 30px;">Your design.</h5>
        <h5 style="font-size: 30px;">Our customization.</h5>
      </div>
    </div>
    <div class="col-md-4 display-center">
      <div class="image-container team">
        <h5 style="font-size: 20px;">TEAM UP FOR TEAM WEAR</h5>
        <h5 style="font-size: 30px;">Bulk orders delivered<br><br> seamlessly.</h5>
      </div>
    </div>
  </div>
  <div class="mt-5 third-block">
    <h1 class="display-center" style="font-size: 40px; margin-left: 20px;"> <b>This is how we do it.</b></h1>

    <div class="col-md-12 flex-display">
      <div class="col-md-2 icon text-center ">
        <h4> <b>1</b><span style="margin-left:20px ;" class="li"></span></h4>
        <div>
          <img src="../assets/images/icon-1.png" style="width: 150px;">
          <h2>Single line<br>brief</h2>

        </div>
      </div>
      <div class="col-md-2 icon text-center ">
        <h4> <b>2</b><span style="margin-left:20px ;" class="li"></span></h4>
        <div>
          <img src="../assets/images/icon-2.png"style="width: 150px;">
          <h2>Mind<br>mapping</h2>
        </div>
      </div>
      <div class="col-md-2 icon text-center ">
        <h4> <b>3</b><span style="margin-left:20px ;" class="li"></span></h4>
        <div>
          <img src="../assets/images/icon-1.png"style="width: 150px;">
          <h2>Design and<br>details</h2>
        </div>
      </div>
      <div class="col-md-2 icon text-center ">
        <h4> <b>4</b><span style="margin-left:20px ;" class="li"></span></h4>
        <div>
          <img src="../assets/images/icon-4.png"style="width: 170px;">
          <h2>Sampling</h2>
        </div>
      </div>
      <div class="col-md-2 icon text-center ">
        <h4> <b>5</b><span style="margin-left:20px ;" class="li"></span></h4>
        <div>
          <img src="../assets/images/icon-5.png" style="width: 170px;">
          <h2>Manufacturing</h2>
        </div>
      </div>
      <div class="col-md-2 icon text-center ">
        <h4> <b>6</b></h4>
        <div>
          <img src="../assets/images/icon-6.png" style="width: 170px;">
          <h2>Delivery</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth-block">
    <!-- <img src="../assets/images/bottom-block.png" > -->
    <div class="container">
    </div>
    <app-getintouch></app-getintouch>
  </div>
  <div class="fifth-block">
    <!-- <img src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Untitled-2.png"> -->
    <div class="container">

    </div>
  </div>
</div>
