
.logos {
    width: 60px;
    height: 60px;
}

.schlogo {
    list-style: none;
    margin-left:10%;
    margin-right:10%;
    

}
.sch
{
    width: 10%;
}

.schlogo li {

    float: left;
    margin-left: 30px;
}
 #pot {
    bottom: 15%;
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 1s;
}
.Schoollogo {
    width: 100%;
    height: 115px;
    background-color: white;
}

.text-center {
    text-align: center;
}

.pt{
    padding-top: 10px!important;
}

.pb{
    padding-bottom: 10px!important;
}


.section1 {
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-position-x: center;
    background-position-y: 122px;
    background-repeat: no-repeat;
}

.section1 h1 {
    padding-top: 18%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
    color: gray;
}
.fas {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 20px;
    padding: 310px;
   
}
.fa-chevron-down {
    transition: all 0.3s ease;
    animation: block-link-arrow-down 1s infinite;
      -webkit-animation: block-link-arrow-down 1s infinite;
      -moz-animation: block-link-arrow-down 1s infinite;
    display: inline-block;
    font-size: 16px;
}

.signature {
    font-family: blenheim;
    font-size: 18px;
    position: relative;
    margin: auto;
    width: 200px;
}

p.signature::after, p.signature::before {
    content: "";
    position: absolute;
    width: 80px;
    border: 1px solid #ffffff73;
    top: 40%;
    left: 0;
}

p.signature::after {
    right: 0;
    left: auto;
}
   
.proximaThin {
    font-family: "proxima-thin";
}

.logoName {
    font-family: courier;
    letter-spacing: 5px;
}

.ms-mb-x {
    margin-bottom: 25px!important;
}

.ms-fs-20 {
    font-size: 20px !important;
}




.btn-default {
    border-color: #fff !important;
    font-size: 16px;
    background-color: transparent;
}


.section2 {
    height: 500px;
    background-color: black;
}

.section2 p {
    color: gray;
    font-size: 30px;
    font-size: 40px;
    padding-top: 15%;
    text-align: center;
}

.proximaBold {
    font-family: "proxima-bold";
}

.pad 
{
    padding-top: 50px;
}



.section3 {
    height: 700px;
    background-image: url('http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 100%;
    background-size: auto 80vh;
   
    height: 1800px;
    
}


.section3 p {
    color: #DDDDDD;
    font-size: 50px;
    text-align: center;
    padding-top: 105%;
}

.section3 h3 {
    color: #DDDDDD;
    text-align: center;
    padding-top: 85%;
    font-size: 50px;
}

.section4 {
    margin-bottom: -200px;
    height: 1650px;
    background-color: #0e0d0d;
}

.section4 h1 {
    text-align: right;
    font-size: 24px;
    
    padding-top: 100px;
    padding-right: 70px;
    color: #BBBBBB;
}


.section4 p {
    text-align: right;
    padding-top: 5px;
    padding-right: 5%;
    font-size: 25px;
    color: #BBBBBB;
}

.banner1 {
    height: 1900px;
    padding-left: 8%;

}

.banner {
    width: 85%;
}

.section5 {
    height: 560px;
   
    background-image: url('http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-41.jpg');
    background-size: center;
    background-repeat: no-repeat;
    margin-top: 350px;
    margin-left: 00px;
    background-size: auto 80vh;

}


.linegap {
    line-height: 30px;
 }
