<div class="container text-center" style="font-size:17px ;">
    <div class="linegap">Returning an acecraft uniform is as easy as ordering one.<br>
         We have a 100% exchange/refund policy within 5 days of delivery.</div>
    <br>
    
    <h1 class="proximaBold"><b style="font-size:40px ;">1. Request A Return</b></h1>
    <div class="linegap">Go to your account, select Order History and initiate an exchange.<br> Select the new uniforms and follow the steps. </div><br><br><br><br><br>
    <img class="img-responsive" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/laptop.jpg">
</div>

<div class="container1">

  <h1 class="ms-mt-x ms-mb-x" style="color:grey; font-size: 35px;margin-left: 615px;">2. Prepare To Return</h1>
  <div class="corner linegap1" style="padding-top: 50px;margin-left: 200px;">
      <p>Get hold of the acecraft </p>
      <p  style="margin-left:20px;">tamper proof bag.</p>
      <p  style="margin-left:17px;" >Don’t have it? Use a </p>
      <p>strong envelope instead.</p>
      
      
      
  </div>
  <div><h3 class="proximaThin text-center" style="font-size: 30px;color: gray;padding-top: 490px;">Not Sure Yet?</h3>
      <a class="getintouch ms-mt-m" href="" style="margin-left:690px ;">Get In Touch With Us</a>
      <!-- <span  class="fa fa-chevron-right" id="pot"></span> -->
  </div>
      
  <div style="margin-top: -200px;margin-left:150px; font-size: 15px;">
  <p class="linegap1" style="padding-bottom: 2px;color: gray;margin-left: 1010px;">Make sure the uniforms  </p>
  <p class="linegap1" style="padding-bottom: 0px;color: gray;margin-left: 1010px;">are absolutely unused</p>
  <p class="linegap1" style="padding-bottom: 0px;color: gray;margin-left: 1010px;">and the tags are intact.</p>
  </div>
  
</div>


